name: Android CI

on: [push]

jobs:
  build-app:
    runs-on: ubuntu-latest
    steps:
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Change wrapper permissions
        run: chmod +x ./gradlew
      - name: Clone Repo
        uses: actions/checkout@v2
      - name: Build androidGeoBot
        run: |
          cd androidGeoBot
          ./gradlew build